node_modules
.env

** android config **
android/.gradle
android/build
android/local.properties
android/yarn.lock
android/app/build
android/.idea/
android/android.iml
android/app/app.iml
android/barambe.iml
android/app/build.gradle

** android config **
ios
.keystore
keystore.properties

** ios config **
.pbxproj

** misc **
.DS_Store
App/.DS_Store
npm-debug.log
yarn-error.log

** keystore **
my-release-key.keystore
.keystore
